<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="sp-MX"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="sp-MX"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="sp-MX"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="sp-MX" xml:lang="sp-MX"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>M&eacute;xico Administraci&oacute;n Escolar - Control de Plantel Educativo Aguascalientes - Gestion Escolar AGS</title>
  <meta name="description" content="Automatizaci&oacute;n de procesos administrativos para planteles educativos por medio de m&oacute;dulos especializados en la gesti&oacute;n de inscripciones, control de alumnos y reportes varios.">
  <meta name="author" content="Francisco Benavides">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/static/css/ubuntu/style.min.css" />
  <script src="/static/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
	    <header>
          <a class="brand" href="/">Administraci&oacute;n Escolar</a>
          <div class="nav-collapse">
		    <nav>
              <ul class="nav">
                <li><a href="/">Inicio</a></li>
                <li class="active"><a href="/about">Qui&eacute;nes Somos</a></li>
			  </ul>
			</nav>
          </div><!-- #nav-collapse -->
		</header>
      </div><!-- #container -->
    </div><!-- #navbar-inner -->
  </div><!-- #navbar -->

  <section id="content">
    <div class="row">
	  <div class="span1">
	  </div>
	  <div class="span10">
		<h1>Quien&eacute;s Somos</h1>
		<p>Bienvenidos! Me llamo <strong><a href="http://www.linkedin.com/in/franciscobenavides" target="_blank">Francisco Benavides</a></strong>, soy desarrollador de aplicaciones y vivo en la ciudad capital de Aguascalientes. Soy Ingeniero en Electrónica y me he dedicado toda mi carrera profesional al desarrollo de sistemas y cuento con amplia experiencia en este campo.</p>
		<p>Hemos colaborado con empresas Nacionales e Internacionales aplicando nuestros conocimientos desde el desarrollo de páginas web con SEO pasando por sistemas de telecomunicaciones y aplicaciones críticas de finanzas. Tengo más de 10 años de experiencia en todo el ciclo de desarrollo de sistemas. Soy entusiasta y me gusta lo que hago.</p>
		<p>Nos basamos en tres valores fundamentales: <strong>Profesionalismo</strong>, <strong>Respeto</strong> y <strong>Perseveranza</strong>. Buscamos ponernos en los zapatos del cliente y nos esforzamos por hacer siempre las cosas bien la primera vez.</p>
		<h2>Cont&aacute;ctenos</h2>
		<p><strong><a href="mailto:&#102;&#114;&#097;&#110;&#099;&#105;&#115;&#099;&#111;&#046;&#098;&#101;&#110;&#097;&#118;&#105;&#100;&#101;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Comuniquese con nosotros</a></strong>, nuestra empresa cuenta con probada experiencia en la creación y supervisión de sistemas. Estamos localizados en la hermosa ciudad capital de <strong>Aguascalientes</strong> y puede marcarnos al <strong>(449) 162-3811</strong> para pedir más información.</p>
      </div><!-- #span10 -->
	  <div class="span1">
	  </div>
    </div> <!-- #row -->
  </section> <!-- #content -->

  <div id="footer-container">
    <div class="row">
      <div class="span1">
      </div>
      <div class="span10">
        <footer class="wrapper">
          <h6>Control Escolar | Guarder&iacute;a&reg; - &copy;2013</h6>
        </footer>
      </div><!-- #span10 -->
      <div class="span1">
      </div>
    </div><!-- #row -->
  </div><!-- #footer-container -->

  </body>

</html>

