<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="sp-MX"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="sp-MX"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="sp-MX"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="sp-MX" xml:lang="sp-MX"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>M&eacute;xico Administraci&oacute;n Escolar - Control de Plantel Educativo Aguascalientes - Gestion Escolar AGS</title>
  <meta name="description" content="Automatizaci&oacute;n de procesos administrativos para planteles educativos por medio de m&oacute;dulos especializados en la gesti&oacute;n de inscripciones, control de alumnos y reportes varios.">
  <meta name="author" content="Francisco Benavides">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/static/css/ubuntu/style.min.css" />
  <script src="/static/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
	    <header>
          <a class="brand" href="/">Administraci&oacute;n Escolar</a>
          <div class="nav-collapse">
		    <nav>
              <ul class="nav">
                <li class="active"><a href="/">Inicio</a></li>
                <li><a href="/about">Qui&eacute;nes Somos</a></li>
			  </ul>
			</nav>
          </div><!-- #nav-collapse -->
		</header>
      </div><!-- #container -->
    </div><!-- #navbar-inner -->
  </div><!-- #navbar -->

  <section id="content">
    <div class="row">
	  <div class="span1">
	  </div>
	  <div class="span10">
		<h1>Sistema de Control Escolar de Guardería</h1>
		<p>Aplicaci&oacute;n web que le permite administrar la informaci&oacute;n de los alumnos de su plantel educativo.</p>
		<h2>¿Comó lo logra?</h2>
		<p>Ayuda en la automatizaci&oacute;n de sus procesos por medio de módulos especializados en la gestión de:</p>
		<ul>
			<li>Inscripci&oacute;n</li>
			<li>Control de alumnos y</li>
			<li>Reportes administrativos y financieros</li>
		</ul>
		<h2>¿Y todo esto para qué sirve?</h2>
		<p>Por medio del sistema se agiliza la obtención de los datos de los alumnos, los datos de sus padres, los números telefónicos y la documentación necesaria requerida por las instancias educativas oficiales.</p>
		<p>Además, ayuda en el control de las finanzas de los alumnos:</p>
		<ul>
			<li>Automatiza la inscripci&oacute;n de los alumnos</li>
			<li>Automatiza la administración y el acceso a la documentación oficial en formato digital de cada alumno</li>
			<li>Agiliza el conocer el estado contable de cada alumno</li>
			<li>Provee acceso seguro y controlado</li>
			<li>Y d&aacute; seguridad y confiabilidad a su información</li>
		</ul>
		<h2>¿Y qué necesito para usarlo?</h2>
		<p>El sistema requiere unicamente de una computadora con acceso a Internet que permita acceder a un sitio web predeterminado.</p>
		<h2>Cont&aacute;ctenos</h2>
		<p><strong><a href="mailto:&#102;&#114;&#097;&#110;&#099;&#105;&#115;&#099;&#111;&#046;&#098;&#101;&#110;&#097;&#118;&#105;&#100;&#101;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Comuniquese con nosotros</a></strong>, nuestra empresa cuenta con probada experiencia en la creación y supervisión de sistemas.  Estamos localizados en la hermosa ciudad capital de <strong>Aguascalientes</strong> y puede marcarnos al <strong>(449) 162-3811</strong> para pedir más información.</p>
      </div><!-- #span10 -->
	  <div class="span1">
	  </div>
    </div> <!-- #row -->
  </section> <!-- #content -->

  <div id="footer-container">
    <div class="row">
      <div class="span1">
      </div>
      <div class="span10">
        <footer class="wrapper">
          <h6>Control Escolar | Guarder&iacute;a&reg; - &copy;2013</h6>
        </footer>
      </div><!-- #span10 -->
      <div class="span1">
      </div>
    </div><!-- #row -->
  </div><!-- #footer-container -->

  </body>

</html>
